* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.wrapper {
    padding: 5em 8em;
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1578735175102-62fafba76877?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80') no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.wrapper .text {
    font-size: 1.5em;
    margin-bottom: 5em;
}

.wrapper .text h1, .wrapper .text p {
    color: snow;
    text-align: center;
    text-shadow: 3px 3px 10px black;
    letter-spacing: 2px;
}

.wrapper .text p {
    font-size: 1em;
    font-weight: 300;
}

.keybord {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.keybord .row {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    position: relative;
}

.keybord .key {
    color: black;
    text-align: center;
    width: 5em;
    height: 5em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
    margin: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;
}

.keybord .key p {
    margin: 0 0 0.3em 0;
    font-weight: 700;
}

.keybord .key p:first-child {
    font-size: 2em;
}

.keybord .key p:last-child {
    font-size: 0.8em;
    color: slateblue;
}

.playing {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 5px blue !important;
    border: 2px solid blue;
}
