body {
    font-weight: 300;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#info, #key {
    position: fixed;
    font-size: 200px;
    text-align: center;
    width: 100%;
    height: 200%;
    line-height: 30px;
    top: 50%;
    left: 0;
    margin-top: -50px;
    color: tan;
    text-shadow: -1px -1px 0px snow;
}

span {
    font-size: 20px;
    color: blanchedalmond;
}

#infro {
    font-size: 80px;
}