body {
    background: skyblue;
    font-family: Arial;
    height: 100;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: snow;
    text-align: center;
}

h1, h2, h3 {
    font-size: 2.6rem;
    font-weight: 100;
    text-transform: uppercase;
}

#secound, #tens {
    font-size: 2em;
}

button {
    border-radius: 5px;
    background: cornflowerblue;
    color: snow;
    border: 1px solid snow;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover {
    transition: .3s;
    background: snow;
    border: 1px solid snow;
    color: cornflowerblue;
}